<header id="main-header">
  <div id="logo">
    <a href="/">Clinic</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">All Appointments</a>
      </li>
      <li>
        <a href="/new-post">Create Appointment</a>
      </li>
    </ul>
  </nav>
</header>